openai
python-dotenv
pyttsx3
SpeechRecognition
wikipedia
pywhatkit
googletrans==4.0.0rc1
gtts
playsound
pynput
pyautogui
matplotlib
requests
beautifulsoup4
bs4
wolframalpha
plyer
speedtest-cli
pyjokes
opencv-python
pycaw
comtypes
protobuf
screen-brightness-control
phonenumbers
opencage
folium
holidays

